<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.0-0-g9aa0fdb  Build Version: 1.5.7004.21443
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test">
  <link
    name="serwo_base">
    <inertial>
      <origin
        xyz="-0.055264 -0.083963 0.05117"
        rpy="0 0 0" />
      <mass
        value="0.007045" />
      <inertia
        ixx="3.7297E-07"
        ixy="7.0185E-12"
        ixz="-8.0001E-11"
        iyy="4.0586E-07"
        iyz="9.7433E-09"
        izz="1.3557E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/serwo_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.9098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/serwo_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="serwo_pochylanie">
    <inertial>
      <origin
        xyz="0.00092926 0.0097163 -0.0027703"
        rpy="0 0 0" />
      <mass
        value="0.012193" />
      <inertia
        ixx="4.2396E-07"
        ixy="-9.1085E-08"
        ixz="1.6381E-08"
        iyy="1.22E-06"
        iyz="8.1164E-09"
        izz="1.312E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/serwo_pochylanie.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/serwo_pochylanie.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rot1"
    type="fixed">
    <origin
      xyz="-0.051038 -0.055505 -0.06979"
      rpy="1.5708 0 1.5712" />
    <parent
      link="serwo_base" />
    <child
      link="serwo_pochylanie" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="rown_bok_1">
    <inertial>
      <origin
        xyz="0.00050248 -1.3878E-17 0.022294"
        rpy="0 0 0" />
      <mass
        value="0.0076444" />
      <inertia
        ixx="3.118E-06"
        ixy="-6.1904E-22"
        ixz="9.7731E-08"
        iyy="4.6209E-06"
        iyz="2.2764E-21"
        izz="1.6134E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/rown_bok_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.92157 0.92157 0.92157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/rown_bok_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rot2"
    type="fixed">
    <origin
      xyz="-0.0090696 0.018197 -0.005275"
      rpy="-1.1416 -1.5708 0.0071089" />
    <parent
      link="serwo_pochylanie" />
    <child
      link="rown_bok_1" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="rown_bok_2">
    <inertial>
      <origin
        xyz="1.3878E-17 6.9389E-18 3.4694E-18"
        rpy="0 0 0" />
      <mass
        value="0.00373" />
      <inertia
        ixx="1.901E-06"
        ixy="4.8287E-23"
        ixz="2.9355E-23"
        iyy="2.2381E-06"
        iyz="-7.2792E-22"
        izz="3.5186E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/rown_bok_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/rown_bok_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rot3"
    type="fixed">
    <origin
      xyz="0.010365 0.040955 -0.005275"
      rpy="1.9998 -1.5708 0.0073647" />
    <parent
      link="serwo_pochylanie" />
    <child
      link="rown_bok_2" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="-2.9103E-10 0.0094431 -0.013238"
        rpy="0 0 0" />
      <mass
        value="0.01773" />
      <inertia
        ixx="7.0374E-06"
        ixy="-2.645E-13"
        ixz="-1.5777E-12"
        iyy="9.2794E-06"
        iyz="-2.0905E-08"
        izz="3.4142E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rot4"
    type="fixed">
    <origin
      xyz="0 -0.0084851 -0.031883"
      rpy="-1.1378 0 -3.1416" />
    <parent
      link="rown_bok_2" />
    <child
      link="head" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
</robot>
